:root {
  --body-color:#e1e1e1;
}
img {
  width: 100%;
  hegiht: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body{
    background-color:var(--body-color);
}