.loading {
  margin: 10px auto;
  padding:300px 0;
  & .loading__inner {
    border: 5px solid rgba(0, 229, 183, 0.9);
    opacity: .9;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 76, 61, 0.9);
    width: 50px;
    height: 50px;
    position: relative;
    top: -75px;
    margin: 0 auto;
    animation: spin-right 1s linear infinite normal;
    animation-delay: 0;
  }
  & .loading__text{
      height:30px;
      color:#ccc;
      line-height:30px;
      text-align:center;

  }
}
.user__container{
    background-color:#e1e1e1;
    min-height:800px;
}


.user__informance{
    padding:20px;
    margin-top:5px 0;
    background-color:#fff;
    height:120px;
    border-radius:0 0 5px 5px;
    & .informance__score{
        margin-top:10px;

    }
}
.informance__image{
    display:flex;
    & img{
        height:50px;
        width:50px;
    }
    & span{
        font-size: 14px;
        color:#aaa;
        margin-left:10px;
    }
}
.user__title_color{
    color:#80bd01;
}
.user__topics{
    background-color:#fff;
    border-radius:10px;
}
.topic__title{
    padding:10px;
    background-color:#f6f6f6;
    border-radius:5px 5px 0 0;
    border-bottom:1px solid #e6e6e6;
    font-size:14px;
    margin-top:20px;
}


















@keyframes spin-right {
  from {
    transform: rotate(0deg);
    opacity: 0.2;
  }

  50% {
    transform: rotate(180deg);
    opacity: 1.0;
  }

  to {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}
